*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.nav1{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
}
.one{
    width: 250px;
    cursor: pointer;

}
#h1{
    font-size: 50px;
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
}
#h1{
    color: black;
    text-shadow: #A47551;
}
.nav1 .one p{
    position: relative;
    bottom: 95px;
    left: 55px;
    color: grey;
}
.nav1{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav2{
    position: sticky;
    top: 0;
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(135, 206, 235,0.3);
    z-index: 99;


}
.nav2 ul{
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.nav2 ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bolder;
    
}
.nav2{
    padding: 1.3rem;
    background-color: rgba(10, 132, 180,1);
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    border: none;
}
.nav2 ul li a:hover{
    transition: all 0.4s;
    color: rgb(255, 255, 255);
    border-bottom: 0.1px solid rgb(255, 255, 255);
}
.nav2 input:hover{
    transition: all 0.4s;
    background-color: rgb(22, 91, 119);
}
.landingimg{
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    background-position: center;
    
}

.details{
    position: absolute;
    top: 200px;
    left: 750px;
    width: 35%;
    padding: 2rem;
    background-color: white;
    box-shadow: 15px 15px 20px ;
}
.details h1{
    font-size: xx-large ;
}
.details h1 span{
    color: rgba(10, 132, 180,1);
}
.details p{
    color: grey;
    margin-bottom: 1.5rem;
}


.teams{
    position: relative;
    bottom: 250px;
    margin-top: 10%;
}
.teams h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 2rem;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
   
}
.card{
    width: 18%;
    height: 325px;
    overflow: hidden;
    transition: all 1s ease-in;
    border: 1px solid rgba(157, 155, 155,0.5);
    
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    z-index: 97;
    position: relative;
    top: 0;
}
.upper{
    background-color:rgba(10, 132, 180,1);
    height: 0;
    width: 100%;
    z-index: 98;
    transition: all 5 sec ease-in;
    text-align: center;
    
}
.upper h1{
    margin-bottom: 0;
}
.upper h2{
    margin-top: 1.5rem;
    margin-bottom: 5px;
}
.card:hover{
    transition: all 0s;
    transition: border-radius 1s;
    border: 2px solid rgb(10, 132, 180);
    box-shadow: 10px 10px 15px grey;
    border-radius: 20px;
}
.card:hover img{
    transition: 1s ease;
    opacity: 0.5;
}
.card:hover .upper{
    transition: height 1.5s ease;
    height: 65%;
    color: white;

}

.lower{
    height: 10%;
    text-align: center;
    padding: 5px;
}
.lower h1{
    margin: 0;
}
.lower p{
    color: rgb(10, 132, 180);
}
.footer1{
    position: relative;
    bottom: 45px;
    padding: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(44, 43, 43);
   color: grey;
}
.footer1 h1{
    color: whitesmoke;
    font-family: sans-serif;
}
.footer1 .about{
    width: 300px;
}
.footer1 .links{
    width: 250px;
}
.footer1 .lists{
    display: flex;
    justify-content: space-between;
  
    cursor: pointer;
}
.footer1 .lists ul{
    transition: 0.5s;
    list-style-type:none ;
}
.footer1 .appoint form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.footer1 .appoint form input{
    padding: 0.3rem;
    width: 250px;
    background-color:rgb(44, 43, 43) ;
}
#s-u-b{
    width: 100px;
    color: white;
}
.footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3rem;
    background-color: rgba(10, 132, 180,1);
    z-index: 99;
}
.footer2 p{
    font-weight: bolder;
}
.footer2 p span{
    color: white;
}
.footer1 .lists ul li:hover{
   transform: scale(1.1);
    list-style-type: none;
    color: aqua;
    list-style-position: inside;
}
